<div>Private page</div>
{{#if user}}
<div>
  <h1>Congrats <span style="color: gold;">{{user.username}}</span>, you made it to the private page!</h1>

  <img src="https://media1.tenor.com/images/2a072a22d2996d9b01f632e413b7bb44/tenor.gif?itemid=5106324" alt="You rock.">
  <a href="/">Back to main page</a>
</div>
{{/if}}